/*estilos del index*/

.jumbotron{
	background-color: blue;
	color: white;
	margin-top: 10px;

}

footer	{
	color: white;
	padding: 10px 10px 10px;
	background-color: blue;
	margin-bottom: 0px;
	margin-top: 15px;
}
.planes{
	background-color: #33E0FF;
	/*color: white;*/
}


@media (min-width: 576px) {
 }

@media (min-width: 768px) { 
	.contenido-p{
		height: 15rem;
	}


}

@media (min-width: 992px) { 
	.contenido-p{
		height: 10rem;
	}
}

@media (min-width: 1200px) {  }